---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "~/components/Main.astro";
import Layout from "~/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import H1 from "~/components/H1.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

type Props = {
  post: CollectionEntry<"posts">;
};

const {
  post: {
    data: { title, author },
  },
} = Astro.props;
---

<Layout title={title}>
  <Main>
    <div class="border-b-4 border-zinc-500 w-fit mb-16">
      <a href="/blog" class="text-zinc-500 text-2xl">
        <Icon name="arrow-left" class="size-5 inline mr-2" />
         Back to all posts
      </a>
    </div>
    <H1 text={title} />
    <p>{author}</p>
  </Main>
</Layout>
